<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 border bg-light  pt-3 pb-3">
      <h1>Binary to Decimal Converter</h1>
      <form>
        <div class="form-group">
          <label for="binary">Binary Input</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter 0 or 1"
            id="binary"
          />
        </div>
        <div class="form-group">
          <label for="decimal">Decimal Output</label>
          <input type="text" class="form-control" id="decimal" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Convert</button>
      </form>
    </div>
  </div>
</div>
